@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  font-family: Poppins;
  background: #0f172a0d;
  color: #020617;
  font-weight: 500;
  overflow: auto;

}

#root {
  min-height: 100vh;
}
